// Customize Bootstrap params
/* -------begin customization-------- */

/* simply assign the value */
$primary: #ab7a5f;

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom App css style
#app-spinner {
  width: "100px";
  height: "100px";
  margin: "auto";
  display: "block";
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.feature-product {
  margin-top: 4rem;
  h2 {
    font-weight: 400;
  }
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    p {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }
  }
}

/* ================ PAGES HEADER ================== */
.section-pagetop {
  padding: 20px 0;
}

.btn-primary {
  color: #ffffff;
}

.product-list-image {
  text-align: center;
  margin-top: 0.5rem;
  img {
    width: 200px;
    height: 200px;
  }
}

.product-list-link {
  text-decoration: none;
  color: black;
  :hover {
    color: black;
    img {
      opacity: 0.3;
    }
    .middle {
      opacity: 1;
    }
  }
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: $primary;
  color: white;
  font-size: 24px;
  padding-top: 12px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.search-category {
  .list-group-item {
    border: none;
    padding: 0.5rem 0rem;
  }
  .active {
    background-color: white;
    border-bottom: 1px solid;
    color: $primary;
    border-color: $primary;
  }
}

.rating-link {
  text-decoration: none;
  color: black;
  small {
    padding-left: 0.25rem;
  }
}

.product-filter {
  .card {
    border: none;
    padding: 1rem 0rem;
  }
}

.login-form {
  width: 100%;
  max-width: 350px;
  margin: auto;
}

/* ================== PAGE DETAILS ==================  */
.gallery-wrap {
  .img-big-wrap {
    margin-bottom: 10px;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: #fff;
    // height:450px;
    a {
      text-align: center;
      display: block;
    }
    img {
      // height: 450px;
      width: 35rem;
      display: inline-block;
      cursor: zoom-in;
    }
  }
  .thumbs-wrap {
    text-align: center;
    // margin-bottom: 20px;
    .item-thumb {
      width: 60px;
      height: 60px;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin: 3px;
      display: inline-block;
      overflow: hidden;
    }
    img {
      max-height: 100%;
      object-fit: cover;
      border-radius: 4px;
      cursor: zoom-in;
      &:hover {
        filter: brightness(1.1);
        cursor: zoom-in;
      }
    }
  }
}

.comment-section {
  margin-bottom: 1rem;
}

#profile-dropdown {
  background-color: #ffffff;
  border-color: #ffffff;
}

.cart_section {
  ul {
    list-style: none;
    margin-bottom: 0px;
  }

  .button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
  }

  .button:hover {
    opacity: 0.8;
  }

  .cart_section {
    width: 100%;
    padding-top: 93px;
    padding-bottom: 111px;
  }

  .cart_title {
    font-size: 30px;
    font-weight: 500;
  }

  .cart_items {
    margin-top: 8px;
  }

  .cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .cart_item {
    width: 100%;
    padding: 15px;
    padding-right: 46px;
  }

  .cart_item_image {
    width: 133px;
    height: 133px;
    float: left;
  }

  .cart_item_image img {
    max-width: 100%;
  }

  .cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 18px;
  }

  .cart_item_name {
    margin-left: 7.53%;
  }

  .cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }

  .cart_item_text {
    font-size: 18px;
    margin-top: 35px;
  }

  .cart_item_text span {
    // display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }

  .cart_item_price {
    text-align: right;
  }

  .cart_item_total {
    text-align: right;
  }

  .order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff;
  }

  .order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px;
  }

  .order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px;
  }

  .cart_buttons {
    margin-top: 60px;
    text-align: right;
  }

  .cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #ffffff;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
    text-decoration: none;
  }

  .cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4;
  }

  .cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
  }
}
