// Customize Bootstrap params
/* -------begin customization-------- */

/* simply assign the value */
$primary: #ab7a5f;

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom App css style
#app-spinner {
  width: "100px";
  height: "100px";
  margin: "auto";
  display: "block";
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.feature-product {
  margin-top: 4rem;
  h2 {
    font-weight: 400;
  }
  .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    p {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }
  }
}

/* ================ PAGES HEADER ================== */
.section-pagetop {
  padding: 45px 0;
}

.btn-primary {
  color: #ffffff;
}

.product-list-image {
  text-align: center;
  margin-top: 0.5rem;
}

.product-list-link {
  text-decoration: none;
  color: black;
  :hover {
    color: black;
    img {
      opacity: 0.3;
    }
    .middle {
      opacity: 1;
    }
  }
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #ab7a5f;
  color: white;
  font-size: 24px;
  padding-top: 12px;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
